.container {
  margin: 0px auto 64px auto;

  background-color: rgb(255, 255, 255);

  padding: 32px;

  width: var(--article-content-width, 800px);

  font-size: 18px;
}

.details {
  display: flex;
  gap: 20px;
  font-family: "Arvo";
}

.date {
}

.author {
  text-decoration: underline;
  font-family: "Arvo";
}

.title {
  margin: 0;

  font-family: "Arvo";
}

.description {
  background-color: rgb(189, 222, 233);
  font-style: italic;

  padding: 16px;
}