.container {
  margin: 0px auto 0 auto;

  background-color: rgb(255, 255, 255);
  border-radius: 0 0 16px 16px;
  box-shadow: 0 0 16px 16px rgba(0, 0, 0, 0.023);

  padding: 64px;

  width: var(--article-content-width, 800px);

  font-size: 18px;
}

.details {
  display: flex;
  gap: 20px;
  _font-family: "Arvo";
}

.date {
}

.author {
  text-decoration: underline;
  _font-family: "Arvo";
}

.title {
  margin: 0;

  _font-family: "Arvo";
}

.description {
  background-color: rgb(189, 222, 233);
  font-style: italic;

  padding: 16px;
}

.blockQuote {
  margin: 8px;
  padding: 24px 16px;

  background-color: rgb(207, 241, 238);
  border-radius: 8px;
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.blockQuote > p:first-child {
  margin-top: 0;
}
.blockQuote > p:last-child {
  margin-bottom: 0;
}

.image {
  width: 100%;
}