.codeBox {
  white-space: pre;
  display: block;

  background-color: var(--codebox-background-color, rgb(22, 21, 44));
  color: var(--codebox-text-color, rgb(255, 255, 255));;

  padding: 16px;

  font-family: monospace;
  margin: 8px 0;

  border-radius: 8px;
  border: 2px solid var(--codebox-border-color, rgb(182, 179, 203));

  overflow: auto;
}

.lineNumber {
  user-select: none;
  color: var(--codebox-line-number-color, rgb(122, 130, 158))
}

.unknownLineGuessBox {
  line-height: 25px;
  margin: 0;
}