.mkCode {
  white-space: pre;
  display: block;

  background-color: rgb(22, 21, 44);
  color: white;

  padding: 16px;

  font-family: monospace;
  margin: 8px 0;

  border-radius: 8px;
  border: 2px solid rgb(182, 179, 203);
}

.inlineCode {
  background-color: rgb(80, 91, 114);
  color: white;
  font-family: monospace;
  font-size: 16px;
  padding: 0 8px;
  border-radius: 8px;

  user-select: all;
  white-space: nowrap;
}

.paragraph {
  margin: 1em auto;

  _font-family: "Arvo";
  line-height: 24px;
}

.heading {
  
}

.headingAnchor {
  opacity: 0;
  transition: opacity 0.2s;

  position: absolute;
  transform: translateX(calc(-100% - 16px));
  font-size: 16px;
}

.heading:hover .headingAnchor {
  opacity: 1;
}