.inlineCode, .code {
  font-family: "Roboto Mono", monospace;

  background-color: var(--theme-code-background, #293548);
  color: var(--theme-code-text, white);

  border-radius: 4px;
  padding: 4px 8px;
  
  text-decoration: none;
}
.code {
  display: block;
  white-space: pre;
  padding: 12px;

  margin: 0 1em;
}

.checkbox {
  margin-right: 8px;
}

.paragraph {
  line-height: 1.5em;
}

.article {
  margin: auto;
  max-width: 40em;

  padding: 0em 2em 12em 2em;

  background: white;
}

.blockquote {
  background-color: rgb(252, 250, 220);
  padding: 8px;
  border-radius: 4px;
  border-left: 8px solid rgb(251, 163, 75);
}

.anchor {
  color: rgb(89, 70, 235);
  position: relative;
}
.anchor:visited, .heading > .anchor {
  color: rgb(7, 48, 68)
}
.anchor:has(.inlineCode) {
  color: white;
}

.anchor > .anchorHash {
  position: absolute;
  left: -22px;

  color: rgb(7, 48, 68);
  opacity: 0;
  transition: opacity 0.3s;
}
.anchor:hover > .anchorHash {
  opacity: 1;
}

.anchor:has(.anchorText) {
  text-decoration: none;
}
.anchorText {
  text-decoration: underline;
}

.heading {
  font-weight: bold;
}
h1.heading {
  font-size: 34px;
}

.component {
  margin: 0 -2em;
}

.table {
  border-collapse: collapse;
}

.table > tr:first-child > .tableCell {
  font-weight: bold;
  background-color: #f3f3f3;
  border-bottom: 3px solid black;
}

.tableCell {
  border: 1px solid black;
  padding: 8px;
}