.navigationList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigationLink {
  display: inline-flex;
  flex-direction: row;

  align-items: center;
  gap: 4px;

  transition: all 0.2s;
  text-decoration: none;
}

.navigationLink:hover {
  text-decoration: underline;
}