.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  position: relative;
  background-color: rgb(241, 241, 244);
  flex: 1;
}

.main {
  width: 100%;
}

.left, .right {
  width: var(--sidepanel-width, 400px);

  position: sticky;
  overflow: auto;
  top: 0px;
}

.left {
  left: 0;
}
.right {
  right: 0;
}

.inner {
  overflow: auto;
}