.tag {
  color: white;
  background: var(--dark);
  font-family: "Arvo";

  font-size: 12px;
  text-decoration: underline;

  text-decoration-color: rgba(255, 255, 255, 0);

  padding: 4px 8px;
  border-radius: 4px;

  transition: text-decoration-color 0.1s, background 0.1s;
  cursor: pointer;
}

.tag:hover {
  text-decoration-color: rgb(255, 255, 255);
  background: var(--bright);
}