.list {
  list-style: none;

  margin: 0;
  padding: 0;
  padding-left: 1em;
}

.rightAligned {
  text-align: right;
  margin-right: 1em;
  padding: 0em;

  border-right: 2px solid black
}

.rightAligned .list {
  padding-left: 0em;
  padding-right: 1em;
}