.bannerLink {
  display: flex;
  flex: 0;

  margin: 6px;
}
.bannerLink > a {
  display: flex;

  align-items: center;

  color: var(--primary-highlight-color, white);

  padding: 0 8px;
  border-radius: 8px;

  transition: background-color 0.2s, text-decoration-color 0.2s;

  background-color: rgba(255, 255, 255, 0);
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0);
}

.bannerLink:hover > a {
  background-color: rgba(255, 255, 255, 0.288);
  text-decoration-color: white;
}